@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}


.nav {
  height: auto;
  background-color: #4680ff;
  padding: 20px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

.fff {
  color: #fff;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.blanceBox {
  background-color: #fbce04;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: auto;
  border-radius: 100px;
  box-shadow: 0 0 4px 0 #646363 inset;
  color: #fff;
}

.darkbox {
  background-color: #0000003b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  height: auto;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginImage {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.input {
  height: 40px;
  width: 90%;
  margin-top: 10px;
  border: 1px solid #4680ff;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

.input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.btn {
  height: 40px;
  width: 40%;
  margin-top: 20px;
  border: none;
  background-color: #4680ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #315edc;
}

.center {
  align-items: center;
  justify-content: center;
}

.menubtn {
  height: 100px;
  width: 100px;
  background-color: #eee;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menubtn:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.wrap {
  flex-wrap: wrap;
}

.icon {
  height: 40px;
  width: 40px;
}

.unstyledTable {
  width: 500px;          
  min-width: 500px;    
  border-collapse: collapse;
}
.unstyledTable td, .unstyledTable th {
  white-space: nowrap; 
}


table.unstyledTable td,
table.unstyledTable th {
  border: 1px solid #AAAAAA;
}

table.unstyledTable tbody td {
  font-size: 14px;
}

table.unstyledTable thead {
  background: #DDDDDD;
}

table.unstyledTable thead th {
  font-weight: normal;
  text-align: center;
}

.right {
  text-align: right;
}

.textcenter {
  text-align: center;
}
th,td{
  padding: 10px;
}
.scroll {
  overflow-x: auto;       /* শুধু horizontal scroll */
  overflow-y: hidden;     /* vertical scroll না দেখাতে */
  -webkit-overflow-scrolling: touch; /* mobile smooth scroll */
}



.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #fdfdfd;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
